[user]
  name = Gael Sonney
  email = gael.sonney@siteminder.com
[alias]
  co = checkout
  ci = commit
  st = status
  sb = show-branch
  up = !git fetch origin && git rebase origin/master
  lg = log --graph --pretty=format:'%Cred%h%Creset-%C(yellow)%d%Creset %f %Cgreen(%cr)%Creset'
  who = log --format="'%ai %h %aN %s'"
  ba = branch -a
  rpo = remote prune origin
[apply]
  whitespace = nowarn
[color]
  ui = auto
[branch]
  autosetuprebase = always
  autosetupmerge = true
[showbranch]
  default = --all
[push]
  default = current
[log]
  decorate = true
[url "https://github"]
	insteadOf = git://github
[core]
	autocrlf = input
[includeIf "gitdir:~/perso/"]
    path = ~/perso/.gitconfig
